@page
@model MentorSystem.Pages.ClassInfoModel
@{
}
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Fullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Dateofbirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Sex)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Account) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dateofbirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>

            
        </tr>
}
    </tbody>
</table>
<p>
    
</p>