@page
@model MentorSystem.Pages.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Schedule)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Class) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule)
            </td>
            <td>
               |
                <a asp-page="./ClassInfo"   asp-route-id="@item.Id.ToString()">Details</a> |
               
            </td>
        </tr>
}
    </tbody>
</table>

