@page
@model MentorSystem.Pages.LoginModel
@{
}
<h1> Login page </h1>

<h4 class="text-danger"> @Model.Message </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.account.Email" class="control-label"></label>
                <input asp-for="@Model.account.Email" class="form-control" />
                <span asp-validation-for="@Model.account.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.account.Password" class="control-label"></label>
                <input asp-for="@Model.account.Password" class="form-control" />
                <span asp-validation-for="@Model.account.Password" type="password" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="">
        <a class="" asp-page="/Create">Don't have an account, sign up here.'</a>
    </div>
</div>