@page
@model MentorSystem.Pages.RateMentor.IndexModel
@{
    Layout = "_Layout";
}
<h4>Rate Mentor</h4>
<hr />
<h4 class="text-danger"> @Model.Message </h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rating[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating[0].Rating1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating[0].Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating[0].Studentid)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Rating)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Studentid)
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="RateMentor.Rating1" class="control-label"></label>
                <select asp-for="RateMentor.Rating1" class="form-control">
                    <option value="1">Student</option>
                    <option value="2">Mentor</option>
                </select>
                <span asp-validation-for="RateMentor." class="text-danger"></span>
            </div>*@
            <div class="commentBox">
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-4 control-label">
                            Your rating <span style="font-weight:normal;">(1 star is bad, 5 star is good)</span>
                        </label>
                        <div class="col-md-7">
                            <div onmouseout="CRateSelected()">
                                <span class="starFade" id="Rate1" onclick="CRate(1)" onmouseover="CRateOver(1)" onmouseout="CRateOut(1)"></span><span class="starFade" id="Rate2" onclick="CRate(2)" onmouseover="CRateOver(2)" onmouseout="CRateOut(2)"></span><span class="starFade" id="Rate3" onclick="CRate(3)" onmouseover="CRateOver(3)" onmouseout="CRateOut(3)"></span><span class="starFade" id="Rate4" onclick="CRate(4)" onmouseover="CRateOver(4)" onmouseout="CRateOut(4)"></span><span class="starFade" id="Rate5" onclick="CRate(5)" onmouseover="CRateOver(5)" onmouseout="CRateOut(5)"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                                <textarea name="Comment" id="Comment" asp-for="RateMentor.Comment" required rows="5" style="width:100%;" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="hidden" asp-for="MentorId" />
                            <input type="hidden" name="Rating" id="Rating" asp-for="Rate"/>
                            <input type="submit" value="Submit Comment" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
         