@page
@model MentorSystem.Pages.ViewClass.IndexModel
@{
}

<div class="g-sidenav-show  bg-gray-200 vh-100">
    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
        <div class="sidenav-header">
            <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
            <a class="navbar-brand m-0" href=" # " >
                <img src="~/Images/SmallIcon.png" class="navbar-brand-img h-200" alt="main_logo">
                <span class="ms-1 font-weight-bold text-white">MentorSystem</span>
            </a>
        </div>
        <hr class="horizontal light mt-0 mb-2">
        <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white  active bg-gradient-primary " href="/ViewClass">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">dashboard</i>
                        </div>
                        <span class="nav-link-text ms-1">All Class</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white " href="/ViewClass/ViewStudentClass">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">receipt_long</i>
                        </div>
                        <span class="nav-link-text ms-1">Your Class</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white " href="ViewMentor/Index">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">table_view</i>
                        </div>
                        <span class="nav-link-text ms-1">Mentors</span>
                    </a>
                </li>
                <li class="nav-item mt-3">
                    <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Account settings</h6>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white " href="Profile/Edit">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">person</i>
                        </div>
                        <span class="nav-link-text ms-1">Profile</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white " href="/LogOut/LogOut">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">person</i>
                        </div>
                        <span class="nav-link-text ms-1">Log Out</span>
                    </a>
                </li>
                
                
                
               

            </ul>
        </div>
        
    </aside>
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg" >
        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-12">
                    <div class="card my-4">
                        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                                <h6 class="text-white text-capitalize ps-3">All Class</h6>
                            </div>
                        </div>
                        <div class="card-body px-0 pb-2">
                            <div class="table-responsive p-0">
                                <table class="table align-items-center mb-0">
                                    <thead>
                                        <tr>
                                            <th class=" text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Name</th>
                                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">MentorID</th>
                                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Schedule</th>
                                            <th class="text-secondary opacity-7"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Class) {
                                        <tr>
                                                <td class="align-middle text-center">
                                                    <span class="text-secondary text-xs font-weight-bold">@Html.DisplayFor(modelItem => item.Id)</span>
                                                </td>
                                                <td class="align-middle text-left">
                                                    <span class="text-secondary text-xs font-weight-bold">@Html.DisplayFor(modelItem => item.Name)</span>
                                                </td>
                                                <td class="align-middle text-center">
                                                    <span class="text-secondary text-xs font-weight-bold">@Html.DisplayFor(modelItem => item.Mentorid)</span>
                                                </td>
                                                <td class="align-middle text-center">
                                                    <span class="text-secondary text-xs font-weight-bold">@Html.DisplayFor(modelItem => item.Schedule)</span>
                                                </td>
                                                <td class="align-middle text-center">
                                                    <a asp-page="./RequestClass" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                                        Join Class
                                                    </a>
                                                   
                                                </td>
                                            
                                        </tr>
                                        }
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
           
        </div>
    </main>
</div>
@*<p>
    <a asp-page="../ViewMentor/Index">View Mentor</a><br />
    <a asp-page="../ViewClass/ViewStudentClass">View Registered Class</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Mentorid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Schedule)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Class) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mentorid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule)
            </td>
            <td>
                    <a asp-page="./RequestClass" asp-route-id="@item.Id" class="btn btn-primary">Request Register</a> |
            </td>
        </tr>
}
    </tbody>
</table>
*@