@page
@model MentorSystem.Pages.ViewClass.IndexModel
@{
}


  
        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-12">
                    <div class="card my-4">
                        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                                <h6 class="text-white text-capitalize ps-3">All Class</h6>
                            </div>
                        </div>
                        <div class="card-body px-0 pb-2">
                            <div class="table-responsive p-0">
                                <table class="table align-items-center mb-0">
                                    <thead>
                                        <tr>
                                            <th class=" text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Name</th>
                                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Mentor</th>
                                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Schedule</th>
                                            <th class="text-secondary opacity-7"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Class) {
                                        <tr>
                                                <td class="align-middle text-center">
                                                    <span class="text-secondary text-xs font-weight-bold">@Html.DisplayFor(modelItem => item.Id)</span>
                                                </td>
                                                <td class="align-middle text-left">
                                                    <span class="text-secondary text-xs font-weight-bold">@Html.DisplayFor(modelItem => item.Name)</span>
                                                </td>
                                                <td class="align-middle text-center">
                                                    <span class="text-secondary text-xs font-weight-bold">@Html.DisplayFor(modelItem => Model.Accounts.FirstOrDefault(a => a.Id == item.Mentorid).Fullname)</span>
                                                </td>
                                                <td class="align-middle text-center">
                                                    <span class="text-secondary text-xs font-weight-bold">@Html.DisplayFor(modelItem => item.Schedule)</span>
                                                </td>
                                                <td class="align-middle text-center">
                                                    <a asp-page="./RequestClass" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                                        Join Class
                                                    </a>
                                                   
                                                </td>
                                            
                                        </tr>
                                        }
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
           
        </div>
    </main>

@*<p>
    <a asp-page="../ViewMentor/Index">View Mentor</a><br />
    <a asp-page="../ViewClass/ViewStudentClass">View Registered Class</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Mentorid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Schedule)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Class) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mentorid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule)
            </td>
            <td>
                    <a asp-page="./RequestClass" asp-route-id="@item.Id" class="btn btn-primary">Request Register</a> |
            </td>
        </tr>
}
    </tbody>
</table>
*@