@page
@model MentorSystem.Pages.ViewClass.RequestClassModel
@{
}
<h3>Are you sure you want to register this class?</h3>
<div>
    <h4>Class</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => Model.Accounts.FirstOrDefault(a => a.Id == model.Class.Mentorid).Fullname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => Model.Accounts.FirstOrDefault(a => a.Id == model.Class.Mentorid).Fullname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.Schedule)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.Schedule)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Class.Id" />
        <input type="submit" value="Register" class="btn btn-primary" />
        <a asp-page="./Index">Back to List</a>
    </form>
</div>