@page
@model MentorSystem.Pages.ViewRequest.AcceptRequestModel
@{
}
<div class="container-fluid py-4">
    <div class="row py-4">
        <div class=" d-flex  ">
            <div class="card my-4 mx-auto w-25">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3">Confirm Accept?</h6>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <li class="list-group-item border-0 px-5 py-1"><strong class="text-dark">ID:</strong> &nbsp;  @Html.DisplayFor(model => model.Request.Id)</li>
                    <li class="list-group-item border-0 px-5 py-1"><strong class="text-dark">Student ID:</strong> &nbsp;   @Html.DisplayFor(model => model.Request.Studentid)</li>
                    <li class="list-group-item border-0 px-5 py-1"><strong class="text-dark">Class ID:</strong> &nbsp; @Html.DisplayFor(model => model.Request.Classid)</li>
                    <li class="list-group-item border-0 px-5 py-1"><strong class="text-dark">Status:</strong> &nbsp; @Html.DisplayFor(model => model.Request.Status)</li>
                    <hr class="dark horizontal">
                    <li class="list-group-item border-0 px-5 py-1">
                        <form method="post" class=" d-flex flex-column align-items-center ">


                            <input type="hidden" asp-for="Request.Id" />
                            <input type="submit" value="Confirm" class="btn btn-primary " />
                            <a asp-page="./Index">Back to List</a>
                        </form>
                    </li>
                </div>
            </div>
        </div>
    </div>
    </div>
@*<h3>Are you sure you want to accept this request?</h3>
<div>
    <h4>Accept Request</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Request.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Request.Studentid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.Studentid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Request.Classid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.Classid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Request.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.Status)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Request.Id" />
        <input type="submit" value="Accept" class="btn btn-primary" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>*@